.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  gap: 32px;
  width: 1216px;
  height: 674px;

  /* Inside auto layout */

  /* flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0; */
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  width: 1152px;
  height: 674px;

}
.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;

  width: 1152px;
  height: 142px;
}
#profile__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 88px;
  height: 88px;
}
.main-profile .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 1152px;
  height: 30px;
}
.main-profile p {
  width: 1152px;
height: 30px;

/* Text xl/Bold */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
}
.main-profile-share {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 208px;
  top: -20px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px dashed #D0D5DD;
  border-radius: 20px;

}
.main-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 1152px;
  height: 476px;
}
.main-link span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 1152px;
  height: 76px;
}
.main-link button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;

  width: 1152px;
  height: 76px;

  /* Gray/200 */

  background: #EAECF0;
  /* Gray/200 */

  border: 1px solid #EAECF0;
  border-radius: 8px;
}
