.nav {
  width: 95%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;

  background: blue;
}
.share, .share-mobile {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 60px;
  margin: 0 3rem;
}
.share-mobile {
  display: none;
}
.nav p {
  font-size: 2rem;
  font-weight: 700;
  padding-top: .5rem;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width : 1024px) {
  
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {
  .share {
    display: none;
  }
  .share-mobile {
    display: flex;
  }
}
